body{
    font-family: 'Droid Sans', sans-serif;
}

/** Header **/

header{
    display: inline-block;
}

header h1 {
    font-size: 32px;
    font-family: 'Droid Serif', serif;
    font-weight: 400;
}

header ul li{
    list-style: none;
    display: inline-block;
}

header a {
    color: #333333;
}

header a:hover {
    color: #333333;
}

@media screen and (min-width: 992px) {
    header {
        float: left;
    }
    header h1 {
        font-size: 64px;
        font-family: 'Droid Serif', serif;
        font-weight: 400;
    }

    header .fa-2x{
        font-size: 3em;
    }
}

/** Nav Bar **/

.nav>li>a{
    color: #333333;
}

.nav-pills>li.active>a{
    background-color: #333333;
}

.nav-pills>li.active>a:hover{
    background-color: #333333;
}

@media screen and (min-width: 992px) {
    nav{
        float: left;
        padding-top: 40px;
        margin-left: 50px;
        height: 152px;
    }

    .nav>li>a{
        padding: 10px 40px;
    }
}

/** Main Section **/
.main{
    float: left;
}

.work .col-lg-6{
    text-align: center;
}

.tag-line{
    margin-top: 10px;
    font-size: 24px;
}

.container.work ul{
    margin-left: 15px;
}

/** CV Page **/
.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.location{
    float: right;
}

.period{
    float: right;
}

.work-entry ul{
    padding-left: 40px;
}

.education-entry{
    padding-bottom: 10px;
}

.education-entry p{
    margin-bottom: 0;
}

/** Contact Page **/

.contact-list{
    list-style: none;
}

.contact-list .fa{
    margin-right: 15px;
    vertical-align: middle;
}

.contact-info{
    font-style: normal;
}

@media screen and (min-width: 992px) {
    .tag-line{
        margin-top: 0;
        font-size: 32px;
        width: 600px;
    }

    .contact-list .fa{
        margin-right: 20px;
    }

    .contact-list .fa-2x {
        font-size: 3em;
    }

    .contact-info{
        font-size: 22px;
    }
}

/** Footer **/
footer{
    float: left;
    margin-bottom: 10px;
}















