body{
    font-family: 'Roboto', "Helvetica", "Arial", sans-serif;
}

a {
    color: #2779BD;
}

.main .jumbotron {
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    color: #F7FFF7;
    text-shadow: 0 1px 2px rgb(0,0,0,0.2);
}

.main .jumbotron ul li {
    display: inline-block;
    margin-right: 10px;
}

.main .jumbotron ul li a i.fa-4x {
    color: #F7FFF7;
} 

.about-me {
    /* text-align: center; */
    padding-top: 30px;
}

.about-section {
    position: relative;
}

.contact-section {
    background: #F8FAFC;
}

.work .col-lg-6{
    text-align: center;
}

.tag-line{
    margin-top: 10px;
    font-size: 24px;
}

.container.work ul{
    margin-left: 15px;
}

/** CV Page **/
.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.location{
    float: right;
}

.period{
    float: right;
}

.work-entry ul{
    padding-left: 40px;
}

.education-entry{
    padding-bottom: 10px;
}

.education-entry p{
    margin-bottom: 0;
}

/** Contact Page **/

.contact-header {
    text-align: center;
}

.contact-list {
    list-style: none;
}

.contact-list .fa{
    margin-right: 15px;
    vertical-align: middle;
}

section.contact-info{
    display: flex;
    align-items: center;
}

.contact-info a {
    cursor: pointer;
}

@media screen and (min-width: 992px) {
    .tag-line{
        margin-top: 0;
        font-size: 32px;
        width: 600px;
    }

    /* .contact-list .fa{
        margin-right: 20px;
    }

    .contact-info{
        font-size: 20px;
    } */
}

/** Footer **/
footer{
    float: left;
    margin-bottom: 10px;
}

.uk-background-cover,
.uk-background-contain {
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.uk-background-cover {
  background-size: cover;
}

.text-grey-darker {
    color: #606F7B;
}

.img-shadow {
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.portfolio-img {
    object-fit: cover;
    object-position: 0 0;
}

.btn-outline-primary {
    border-color: #2779BD;
    color: #2779BD;
}

.btn-outline-primary:hover {
    border-color: #2779BD;
    background-color: #2779BD;
    color: #FFF;
}













