/** Header **/

header{
    /*text-align: center;*/
    margin-left: 10px;
    display: inline-block;
    /*float: left;*/
}

header h1 {
    font-size: 32px;
    font-family: 'Droid Serif', serif;
    font-weight: 400;
}

header ul li{
    list-style: none;
    display: inline-block;
}

header a {
    color: #333333;
}

header a:hover {
    color: #333333;
}

@media screen and (min-width: 992px) {
    header {
        float: left;
    }
    header h1 {
        font-size: 64px;
        font-family: 'Droid Serif', serif;
        font-weight: 400;
    }

    header .fa-2x{
        font-size: 3em;
    }
}

/** Nav Bar **/

nav{
    margin-left: 10px;
}

.nav>li>a{
    color: #333333;
}

.nav-pills>li.active>a{
    background-color: #333333;
}

@media screen and (min-width: 992px) {
    nav{
        float: left;
        padding-top: 40px;
        margin-left: 50px;
        height: 152px;
    }

    .nav>li>a{
        padding: 10px 40px;
    }
}
















